In [1]:
#Dependencies
import pandas as pd

In [64]:
#import csv
data = pd.read_csv("/Users/apetek/Desktop/Github/pandas-challenge/Resources/purchase_data.csv")
data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,132,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61
751,751,Lisjaskan36,11,Male,30,Stormcaller,3.36
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15
756,756,Ilast79,20,Male,73,Ritual Mace,2.05
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60
758,758,Iral74,21,Male,182,Toothpick,4.03
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70
762,762,Asur53,26,Male,110,Suspension,1.44
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07
765,765,Irith83,18,Male,130,Alpha,2.07
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14
767,767,Ilmol66,8,Female,92,Final Critic,4.88
768,768,Assassasta79,38,Male,92,Final Critic,4.88
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58
770,770,Lirtosia63,34,Male,12,Dawne,1.02
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [82]:
total_players = len(data["SN"].value_counts())
pd.DataFrame({"Total Players":[total_players]})

   Total Players
0            576

In [83]:
#Total Number of players
purchases = data["Purchase ID"].count()

#Number of unique items
unique = data["Item Name"].nunique()

#Calculate the average purchase price
average = data["Price"].mean()

#Total Revenue
revenue = data["Price"].sum()

data_df = pd.DataFrame ({
    "Number of unique items":[unique],
    "Average Price":[average],
    "Number of purchases":[purchases],
    "Total Revenue":[revenue]
})
data_df

   Number of unique items  Average Price  Number of purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [86]:
#Gender Demographics
#percentage and count of male players
#percentage and count of female players
#Percentage and Count of Other / Non-Disclosed

Gcount = data.groupby("Gender")
fm = Gcount.nunique()["SN"]
percent = fm / total_players * 100
pd.DataFrame({'Counts': fm,
             'Percent': percent})

                       Counts    Percent
Gender
Female                     81  14.062500
Male                      484  84.027778
Other / Non-Disclosed      11   1.909722

In [87]:
#Purchasing Analysis(Gender)
#Purchase count per Gender
purchase_c = data.groupby(["Gender"]).count()["Purchase ID"]

#average price per gender
average_p = data.groupby(["Gender"]).mean()["Price"]

#Total purchase value per Gender 
total_p = data.groupby(["Gender"]).sum()["Price"]

##Average total purchase per person
average_t = total_p/fm

pd.DataFrame({
    "Purchase Count": purchase_c,
    "Average Purchase Price": average_p,
    "Total Purchase Value": total_p,
    "Average Total Purchase per Person": average_t
})

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [97]:
#Age Demographics
#Establish bins for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 40]
group_name = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
data["Age data"] = pd.cut(data["Age"], bins, labels=group_name)
data

#Calculate the numberd and percntages by age group
age_group = data.groupby("Age data")

count_age = age_group["SN"].nunique()

age_percentage = (count_age/total_players) * 100

#dataframe to hold results
age_d = pd.DataFrame({"Total_count": count_age,
                     "Percentage of Players": age_percentage,
                     })
age_d.index.name = None
age_d

       Total_count  Percentage of Players
<10             17               2.951389
10-14           22               3.819444
15-19          107              18.576389
20-24          258              44.791667
25-29           77              13.368056
30-34           52               9.027778
35-39           31               5.381944
40+              5               0.868056

In [99]:
#Purchasing Analysis
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc.
purchase_age = age_group["Purchase ID"].count()

avg_purchase_age = age_group["Price"].mean()

total_purchase = age_group["Price"].sum()

avg_purchase_per_age = total_purchase/count_age

age_d = pd.DataFrame({"Purchase Count": purchase_age,
                     "Average Purchase Price": avg_purchase_age,
                     "Total Purchase Value": total_purchase,
                     "Average Purchase Total per Person": avg_purchase_per_age})

age_d.index.name = None
age_d

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,6,2.785000,16.71,3.342000

In [100]:
#Top Spenders 
#Identify the the top 5 spenders in the game by total purchase value, then list (in a table)
spender = data.groupby("SN")

purchase_spender = spender["Purchase ID"].count()

avg_purchase_spender = spender["Price"].mean()

purchase_per_spender = spender["Price"].sum()

top_spender = pd.DataFrame({"Purchase Count": purchase_spender,
                           "Average Purchase Price": avg_purchase_spender,
                           "Total Purchase Value":purchase_per_spender})
format_spenders = top_spender.sort_values(["Total Purchase Value"], ascending=False).head()
format_spenders

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [102]:
#Most Popular items
item = data[["Item ID", "Item Price", "Item Name"]]

items = items.groupby(["Item ID", "Item Name"])

count_items = items["Price"].count()

purchase_value = (items["Price"].sum())

item_price = purchase_value/count_items

popular_items = pd.DataFrame({"Purchase Count": count_items,
                             "Item Price": item_price,
                             "Total Purchase Value": purchase_value})
format_popular = popular_items.sort_values(["Purchase Count"], ascending=False).head()

KeyError: "['Item Price'] not in index"